In [1]:
#1
def is_two(x):
    return x == 2 or x == '2'

In [2]:
is_two(2)

True

In [3]:
#2
def is_vowel(string):
    return len(string) == 1 and string.lower() in 'aeiou'

In [4]:
is_vowel('k')

False

In [5]:
#3
def is_consonant(string):
    return len(string) == 1 and not is_vowel(string) and string.isalpha()

In [6]:
is_consonant('t')

True

In [7]:
#4

def capitalize_starting_consonant(string):
    first_letter = string[0]
    if is_consonant(first_letter):
        string = string.capitalize()
    return string

In [8]:
capitalize_starting_consonant('tree')

'Tree'

In [9]:
#5
def calculate_tip(tip_percentage, bill):
    amount_to_tip = bill * tip_percentage
    return amount_to_tip

In [12]:
#6
def apply_discount(price, discount_percentage):
    discount = price * discount_percentage
    return price - discount

In [14]:
#7


def handle_commas(numeric_string):
    string_without_commas = numeric_string.replace(',', '')
    actual_number = int(string_without_commas)
    return actual_number

In [24]:
#8 

def get_letter_grade(grade):
    if type(grade) == int or type(grade) == float:
        if grade >= 90:
            return "A"
        elif grade >= 80:
            return "B"
        elif grade >= 70:
            return "C"
        elif grade >= 60:
            return "D"
        else:
            return "F"
    else:
        return "Input must be a number"

In [16]:
#9

def remove_vowels(string):
    vowels = ['a','e','i','o','u']
    result = [letter for letter in string if letter.lower() not in vowels]
    result = ''.join(result)
    print(result)
    
string = "This is Great"
remove_vowels(string)

Ths s Grt

In [17]:
#10

def remove_special_char(string):
    return ''.join([c for c in string if c.isalnum() or c == ' '])

In [18]:
remove_special_char('name % 2')

'name  2'

In [19]:
def normalize_name(string):
    special_char_removed = remove_special_char(string)
    return special_char_removed.lower().strip().replace(' ', '_')

In [20]:
normalize_name('Lindy castellaw')

'lindy_castellaw'

In [22]:
#11

def cumulative_sum(nums):
    output = []
    total = 0
    for num in nums:
        total += num
        output.append(total)
    return output

In [23]:

#bonus

def twelveto24(string):

      if string[-2:] == "AM" and string[:2] == "12":
         return "00" + string[2:-2]

      elif string[-2:] == "AM":
         return string[:-2]

      elif string[-2:] == "PM" and string[:2] == "12":
         return string[:-2]
        
      else:
          return str(int(string[:2]) + 12) + string[2:8]


time="03:25PM"
print("12-hour Format time:: ", time)
print("24-hour Format time ::",twelveto24(time))

12-hour Format time::  03:25PM
24-hour Format time :: 15:25PM